<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:page_title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/header' %>
<div class="container">
  <div class="row">
    <% flash.each do |key,value| %>
        <div class="col-md-12" >
          <h4 class="fade in alert alert-<%= key %>">
            <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a><%= value %>
          </h4>
        </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= yield %>
    </div>
  </div>
  <% if Rails.env.development? %>
      <div class="row">
        <div class="col col-md-12">
          <%= debug(params)  %>
          <%= debug(session) %>
        </div>
      </div>
  <% end %>
</div> <!-- end of div.container -->

</body>
</html>
